{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<br>
        <center>{{ error if error != None}}
        {{ register_success if register_success != None }}
            <br>
        <form method='post' action='login_submit'>
            <div>
                <br>
                <label>Username:</label>
                <input type="text" name="username" value="{{username if username != None}}" />
            </div>

            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <br>

            <input type="submit" value="log in" />
        </form></center>
{% endblock %}
