{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
        <table>
        <tr>
        <td align="center">
        <a><img src="{{ f2 }}"></a>
        </td>
        <td align="center">
        <a><img src="{{ f1 }}" width="400px"></a>
        </td>
        <td align="center">
        <a><img src="{{ f3 }}" width="400px"></a>
        </td>
        </tr>
        <tr>
        <td align="center">Thumbnail</td>
        <td align="center">Origin Photo</td>
        <td align="center">Text Detection</td>
        </tr>
        </table>
{% endblock %}

